body {
    font-family: 'Georgia', serif;;
    background-color: #969290;
    color: #e6af2e;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 800px;
    width: 600px;
    margin: auto;
    background-color: #191716;
}

hr {
    width: 80%;
    border: 1px solid #e6c881;
}

.contactme-title, .aboutme-title, .currentprojects-title {
    margin: 20px;
    text-align: left;
}

.profilephoto {
    display: flex;
    margin: auto;
}

.title {

    padding: 20px;
    text-align: center;
}

.intro {
    text-align: center;
}

.aboutme-content {
    text-align: center;
}

.contactme-content {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.socials {
    display: flex;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    gap: 50px;
    font-size: 25px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #e6af2e;
}

.week1 {
    padding: 10px;
    margin: 0 0 20px 20px;
    border-radius: 5px;
    background-color: grey;
    color: white;
    cursor: pointer;
}

.week1:hover {
    background-color: rgb(75, 75, 75)
}