body {
    font-family: 'Georgia', serif;;
    background-color: #969290;
    color: #e6af2e;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 800px;
    width: 600px;
    margin: 10px auto;
    background-color: #2e2b29;
    border-radius: 16px;
}

h1 {
    margin: 0;
}

hr {
    width: 80%;
    border: 1px solid #e6c881;
}

.contactme-title, .aboutme-title, .currentprojects-title {
    margin: 20px;
    text-align: left;
    margin-bottom: 10px;
    font-size: 25px;
}

.profilephoto {
    display: flex;
    margin: auto;
}

.title {
    padding: 20px;
    text-align: center;
}

.intro {
    text-align: center;
}

.aboutme-content {
    text-align: center;
    color: white;
}

.contactme {
    margin-bottom: 10px;
}

.contactme-title {
    margin-bottom: 5px;
    margin-top: 30px;
}

.socials {
    display: flex;
    justify-content: center;
    padding: 0px;
    column-gap: 70px;
    font-size: 20px;
    color:#e6af2e;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #e6af2e;
}

.week1 {
    padding: 10px;
    margin: 0 0 20px 20px;
    border-radius: 5px;
    background-color: grey;
    color: white;
    cursor: pointer;
}

.week1:hover {
    background-color: rgb(75, 75, 75)
}

footer {
    text-align: center;
    margin-bottom: 19px;
}
